* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightgray;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 100px auto 0px;
    align-content: flex-start;
}


.square {
    border: solid 3px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.clicked {
    background-color: cornflowerblue;
}